
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    font-size: 1.3em;
}
.red {
    color: #f00;
    background: #222;
    padding: 13px 7px;
    border-radius: 12px;
}
.hugeText {
    font-size: 1.67em;
    font-weight: 700;
    text-decoration: underline;
    font-style: italic;
}
body {
    width: 100%;
    min-height: 700px;
    padding: 25px 75px;
}
header {
    width: 100%;
    height: 420px;
    background: url('../assets/thumbnail_67.jpg');
    background-size: cover;
    background-position-y: -200px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #222;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}
main {
    width: 100%;
    height: 1000px;
    padding: 50px;
}
footer {
    width: 100%;
    height: 80px;
    padding-top: 13px;
    border-top: 1px solid #222;
    background: #444;
    text-align: center;
    font-size: 1em;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}