
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    font-size: 1.3em;
}
body {
    width: 100%;
    min-height: 700px;
    padding: 50px;
}
header {
    width: 100%;
    height: 420px;
    background: url('../assets/thumbnail_67.jpg');
}
main {
    width: 100%;
    height: 1000px;
    background: #fff;
}
footer {
    width: 100%;
    height: 80px;
    background: #00f;
}